<div class = "row">
  <div class = "col-xs-6 col-xs-offset-3">
    <form method = "post" style = 'margin-top: 20px'>
      <div class="form-group">
        <textarea class="form-control" name = 'message' rows="3"></textarea>
        <input type = "hidden" name = 'contactId' value = '{{contact._id}}'>
      </div>
      <button type="submit" class="btn btn-primary">Send {{contact.name}} Message ({{contact.phone}})</button>
    </form>
  </div>
<div>
